@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(15px);
  font-family: "Cabin Sketch", cursive;
}
.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 999;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h2 {
  margin-bottom: 10px;
  font-size: 40px;
}
#pixelsContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 550px;
  max-height: min-content;
  width: 550px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #fff;
}

.gridRow {
  /* border: 1px solid rgba(255, 255, 255, 0.05); */
  border: 0;
  width: 100%;
}

.cell {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 100%;
}
.active {
  background: #fff;
}

.tools-container .tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tools input {
  padding: 10px 20px;
  border: 0px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 10px 20px 10px 0px;
  text-transform: capitalize;
  color: #fff;
}
#rainbow {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    red,
    yellow,
    green
  );
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.cp-wrapper label {
  display: block;
  font-size: 16px;
}
#color {
  height: 35px;
  width: 100px;
  padding: 0;
}
#erase {
  background: #9b9dfb;
  border-bottom: 3px solid #7071c2;
}
#reset {
  background: #d11a2a;
  border-bottom: 3px solid #aa1320;
}
